
.timerSelect {
  appearance: none;
  background-color: var(--bg-light);
  border: 2px solid var(--accent);
  border-radius: 8px;
  padding: 10px 20px;
  color: var(--text);
  cursor: pointer;
}

.timerSelect:hover {
  background-color: rgba(35, 35, 35, 0.7);
}

